<p>
  producent-details works!
</p>
<!-- <div *ngIf="producent">
  <h2>{{ producent.name | uppercase }} details:</h2>
  <div><span>id: </span>{{producent.id}}</div>
  <div>
    <label>Name:
      <input [(ngModel)]="producent.name" placeholder="name">
    </label><br>
    <label>Origin place:
      <input [(ngModel)]="producent.origin_place" placeholder="origin_place">
    </label><br>
    <label>Description:
      <input [(ngModel)]="producent.description" placeholder="description">
    </label>
  </div>
</div> -->
