.parallax-container
{
	min-height: 200px;
  background: url(/assets/images/forest.jpg) transparent;
	padding: 10px;
}
.parallax-container header
{
	margin: 0px;
  height: 180px;
  line-height: 180px;
	text-align: center;
}
.parallax-container header h1
{
  vertical-align: middle;
  display: inline-block;
  letter-spacing: 5px;
	color: #ffffff;
	font-size: 2em;
	font-weight: bold;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.5);
}

@media(max-width:767px)
{
    .parallax-container .heading h1
    {
       letter-spacing: 3px;
       font-size: 1.5em;
    }
}



/************* main styles *************/
/* divy mogły by być block element + float left albo inline-blocks */
/* block lepiej oddaje to czym ten div będzie ;) */
