<!-- w angularze jedune do czego masz dostęp jako zasoby to folder assets -->
<!-- więc nie możesz wrzucić zdjęć nigdzie indziej ;D -->
<header>
  <img class="bg-image" src="/assets/images/forest.jpg" alt="Some forest picture background">
  <h1>
      Welcome to {{ title }} learning course!
  </h1>
</header>
<main>
  <div class="square bgred">
    1st
  </div>
  <div class="square bgblue">
    2nd
  </div>
  <div class="square bggreen">
    3rd
  </div>
  <div class="square bgpurple">
    4th
  </div>
</main>
