<!-- w angularze jedune do czego masz dostęp jako zasoby to folder assets -->
<!-- więc nie możesz wrzucić zdjęć nigdzie indziej ;D -->
<header>
  <img class="bg-image" src="/assets/images/forest.jpg" alt="Some forest picture background">
  <h1>
      Welcome to {{ title }}!
  </h1>
  <nav>
    <ul>
      <!-- default path is bikes - will be updated -->
      <li><a routerLink = '/bikes'>Bikes</a></li>
      <li><a routerLink = '/types'>Types</a></li>
      <li><a routerLink = '/producents'>Producents</a></li>
    </ul>
  </nav>
</header>
<main>
  <!-- place of app insertion -->
  <router-outlet></router-outlet>
</main>
